<center>
<div style="padding-top: 40px"><h1> List of registered students </h1></div>

<div class="table-responsive" style="padding-top: 20px">
<table class="table table-hover" style="font-size:20px; width:800px">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>email_id  </th>
      <th>phone_number </th>
      <th>status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.each do |post| %>
      <tr>
        <td><%= post.profile.name %></td>
        <td><%= post.email %></td>
        <td><%= post.profile.phone_number %></td>
        <% if post.profile.status == nil %>
        <td><%= button_to 'active', {:controller => 'adminprofile' , :action => 'activatestudent', :method => :PUT, :id => post.id}, 
        :class => 'btn btn-primary-ln' %></td>
        <% else %>
        <td>&nbsp;&nbsp; active </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</center>