<h1> List of paid students </h1>


<div class="table-responsive" style="padding-top: 20px">
<table class="table table-hover" style="font-size:20px; width:800px">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>belts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td>no belts</td>
        <td>&nbsp<%=link_to "add belt", new_beltgrading_path(:user_id => post.id) %></td>
      </tr>
      <% end %>
  </tbody>
</table>

